.footer__column-link{
  margin:0;
  text-decoration: none;
  transition: opacity .2 linear;
  color: white;
  cursor: pointer;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-link:hover{
  opacity: .5;
}
.footer__column-link:last-child{
  margin-bottom: 16px;
}