.khan__buy-link {
    text-decoration: none;
    color: #2f80ed;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    transition: color 0.6s;
  }
  .khan__buy-link:hover{
    color: #1f1f1f;
  }